.inline {
    display: inline;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
/* Inline não quebra de linha, largura mínima, aceita margem e preencimento horizontal,
 mas vertical não é aplicável */

 .block {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
 }
 /* Block quebra de linha, largura máxima */

 .inline-block {
    display: inline-block;
    margin-top: 10px;
    padding-top: 10px;
 }

 /* inline-block não quebra linha */